{{ testing }} TESTING 123456
<div id="app"> {{line1}} </div>
<div class="col-sm-3 my-3">
    <div class="card">
        <div id="app">{{line1}}123221</div>
        <a href="4individualpage.php?id=49767503"><img
                src="https://dl5zpyw5k3jeb.cloudfront.net/photos/pets/49767503/1/?bust=1605158186" alt="Image"
                class="img-fluid"></a>
        <div class="card-body">
            <h5 class="card-title">Name: Puppy</h5>
            <p class="card-text">This little sweetie was rescued from an overcrowded Texas shelter and brought to
                Wisconsin for a better life. Puppy is....</p>
            <input type="checkbox" id="49767503" value="49767503" v-model="checkeddogs">
            <label for="49767503">I choose you!!</label>
            <p class="card-text"><small class="text-muted">Checked Dogs: {{checkeddogs}}</small></p>
            <form action="../database/delete_from_cart.php" method="POST">
                <input type="hidden" id="49767503" name="dog_id" value="49767503">
                <input type="submit" value="Remove from cart">
            </form>
        </div>
    </div>
</div>

{{ testing }} TESTING 123456
<div id="app"> {{line1}} </div>
<div class="col-sm-3 my-3">
    <div class="card">
        <div id="app">{{line1}}123221</div>
        <a href="4individualpage.php?id=49749848"><img
                src="https://dl5zpyw5k3jeb.cloudfront.net/photos/pets/49749848/1/?bust=1605029207" alt="Image"
                class="img-fluid"></a>
        <div class="card-body">
            <h5 class="card-title">Name: Lilo</h5>
            <p class="card-text">Lilo is new to our rescue. She is 9 months old, abandoned at an ER vet. She is very
                smart,....</p>
            <input type="checkbox" id="49749848" value="49749848" v-model="checkeddogs">
            <label for="49749848">I choose you!!</label>
            <p class="card-text"><small class="text-muted">Checked Dogs: {{checkeddogs}}</small></p>
            <form action="../database/delete_from_cart.php" method="POST">
                <input type="hidden" id="49749848" name="dog_id" value="49749848">
                <input type="submit" value="Remove from cart">
            </form>
        </div>
    </div>
</div>

{{ testing }} TESTING 123456
<div id="app"> {{line1}} </div>
<div class="col-sm-3 my-3">
    <div class="card">
        <div id="app">{{line1}}123221</div>
        <a href="4individualpage.php?id=49749896"><img
                src="https://dl5zpyw5k3jeb.cloudfront.net/photos/pets/49749896/1/?bust=1605029396" alt="Image"
                class="img-fluid"></a>
        <div class="card-body">
            <h5 class="card-title">Name: Forrest</h5>
            <p class="card-text">null.</p>
            <input type="checkbox" id="49749896" value="49749896" v-model="checkeddogs">
            <label for="49749896">I choose you!!</label>
            <p class="card-text"><small class="text-muted">Checked Dogs: {{checkeddogs}}</small></p>
            <form action="../database/delete_from_cart.php" method="POST">
                <input type="hidden" id="49749896" name="dog_id" value="49749896">
                <input type="submit" value="Remove from cart">
            </form>
        </div>
    </div>
</div>

{{ testing }} TESTING 123456
<div id="app"> {{line1}} </div>
<div class="col-sm-3 my-3">
    <div class="card">
        <div id="app">{{line1}}123221</div>
        <a href="4individualpage.php?id=49767506"><img
                src="https://dl5zpyw5k3jeb.cloudfront.net/photos/pets/49767506/1/?bust=1605158281" alt="Image"
                class="img-fluid"></a>
        <div class="card-body">
            <h5 class="card-title">Name: Paisley</h5>
            <p class="card-text">Meet Paisley!
                This little stink is a 5# spitfire of a little chi! At 9 on the old, shes a....</p>
            <input type="checkbox" id="49767506" value="49767506" v-model="checkeddogs">
            <label for="49767506">I choose you!!</label>
            <p class="card-text"><small class="text-muted">Checked Dogs: {{checkeddogs}}</small></p>
            <form action="../database/delete_from_cart.php" method="POST">
                <input type="hidden" id="49767506" name="dog_id" value="49767506">
                <input type="submit" value="Remove from cart">
            </form>
        </div>
    </div>
</div>

{{ testing }} TESTING 123456
<div id="app"> {{line1}} </div>
<div class="col-sm-3 my-3">
    <div class="card">
        <div id="app">{{line1}}123221</div>
        <a href="4individualpage.php?id=49749864"><img
                src="https://dl5zpyw5k3jeb.cloudfront.net/photos/pets/49749864/2/?bust=1605029298" alt="Image"
                class="img-fluid"></a>
        <div class="card-body">
            <h5 class="card-title">Name: Bogart</h5>
            <p class="card-text">Bogart is a very sweet and social boy who loves attention! He gets along great with
                both small and large....</p>
            <input type="checkbox" id="49749864" value="49749864" v-model="checkeddogs">
            <label for="49749864">I choose you!!</label>
            <p class="card-text"><small class="text-muted">Checked Dogs: {{checkeddogs}}</small></p>
            <form action="../database/delete_from_cart.php" method="POST">
                <input type="hidden" id="49749864" name="dog_id" value="49749864">
                <input type="submit" value="Remove from cart">
            </form>
        </div>
    </div>
</div>

{{ testing }} TESTING 123456
<div id="app"> {{line1}} </div>
<div class="col-sm-3 my-3">
    <div class="card">
        <div id="app">{{line1}}123221</div>
        <a href="4individualpage.php?id=49767780"><img
                src="https://dl5zpyw5k3jeb.cloudfront.net/photos/pets/49767780/1/?bust=1605166355" alt="Image"
                class="img-fluid"></a>
        <div class="card-body">
            <h5 class="card-title">Name: Jesse</h5>
            <p class="card-text">To make the best possible match for you and the pet, please click below to complete the
                Adoption Application.

                Once....</p>
            <input type="checkbox" id="49767780" value="49767780" v-model="checkeddogs">
            <label for="49767780">I choose you!!</label>
            <p class="card-text"><small class="text-muted">Checked Dogs: {{checkeddogs}}</small></p>
            <form action="../database/delete_from_cart.php" method="POST">
                <input type="hidden" id="49767780" name="dog_id" value="49767780">
                <input type="submit" value="Remove from cart">
            </form>
        </div>
    </div>
</div>